body {
	color: #000;
	background-image: url(../images/background.jpg);
	background-size: cover;
}

.container {
	width: 800px;
	margin: 25px auto;
}

header, nav, aside, section, footer {
	border: 5px double #CCC;
	background-color: #FFF;
	background-image: url(../images/background-interface.jpg);
	background-size: cover;
	margin: 5px;
	box-sizing: border-box;
	border-radius: 10px;
}

header {
	height: 120px;
	font-size: 48px;
}

header h1 {
	color: #2E709F;
	text-align: center;
	font-family: 'Monofett', cursive;
	position: relative;
	top: -75px;
	text-shadow: -1px -1px 1px #FFF, 1px 1px 1px #000;
}

nav {
	width: auto;
	height: 65px;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	margin: 5px 5px 0px 5px;
}

.team1, .navCenter, .team2 {
	width: 33%;
	float: left;
}

aside {
	width: 260px;
	height: 500px;
	float: left;
	padding: 10px;
}

section {
	width: 520px;
	float: right;
	padding: 20px;
}

footer {
	height: 150px;
	padding: 5px;
	vertical-align: middle;
	clear: both;
	text-align: center;
	font-size: 11px;
}
.game-board {
	width: 450px;
	margin: 0px auto;
}
.theBox {
	border: 1px solid #2E709F;
	width: 150px;
	height: 150px;
	font-size: 125px;
	text-shadow: -1px -1px 1px #FFF, 1px 1px 1px #000;
	font-family: arial;
	text-align: center;
	color: #2E709F;
	float: left;
	box-shadow: 1px 1px #FFF, inset 1px 1px #FFF;
	box-sizing: border-box;
}
.win {
	height: 25px;
	font-size: 25px;
	text-align: center;
	margin: 0px auto;
	padding-bottom: 10px;
}
.status {
	text-align: center;
	font-size: 16px;
	color: #2E709F;
}
ul{
	padding: 0px;
	margin: 7px;
	border: 0px;
}
li {
	list-style-type: none;
	text-align: left;
}
.chat {
	height: 410px;
	overflow: scroll;
	font-size: 12px;
	border: 1px solid #000;
	padding: 5px;
}
.text-chat {
	margin: 5px;
	font-size: 12px;
	width: 160px;
}
.btn-chat {
	font-size: 15px;
	margin-top: 17px;
}
.chat-header {
	text-align: center;
	font-weight: bold;
	color: #2E709F;
	border-bottom: 1px solid #999;
}
.score {
	display: inline;
	padding-right: 20px;
	margin: 0px auto;
}
.X, .team1 h2 {
	color: red;
}
.O, .team2 h2 {
	color: green;
}
h2 {
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	border: 0px;
}


